/* index.css */

/* 1) Importar Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2) Definir fuentes AvertaStd */
@font-face {
  font-family: 'Averta Std';
  src: url('./assets/fonts/AvertaStd-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* … resto de @font-face … */

/* 3) Asignar fuente y quitar scroll horizontal */
html,
body {
  font-family: 'Averta Std', sans-serif;
  overflow-x: hidden;       /* evita scroll horizontal en toda la web */
}

/* 4) Si no usas el .multiline-ellipsis, bórralo */
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


.cropper-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.react-transform-wrapper, .react-transform-component {
  height: 100% !important;
  width: 100% !important;
}